.red {
    color: red;
    text-underline: red;
}

.blue {
    color: blue;
    text-underline: blue;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

.gray a {
    text-underline: gray;
}